#colorstyle {
	background-color:#333;
	font-family:impact;
	}
#fontset{
	font-size:20px;
	}
	
a:hover{
	background-color: #f1f1f1;
	}
#colorfordiv{

	color: #5551fd;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
  position: fixed;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}
.footer {
  grid-row-start: 2;
  grid-row-end: 3;
}